<nav>
	<ul>
		<li class="logo"><img src="/img/logo.png"></li>
		<li class="uppercase expand"><a href="/">DCON 2016</a></li>
		<li><a href="/">home</li>
		<li><a href="/contests">contests</li>
		<li><a href="/registration">registration</li>
		<li><a href="/photos">photos</a></li>
		<li><a href="/gear">resources</a></li>
		<li class="live"><a href="/live">live</a></li>
		<li class="social">
			<ul>
				<li><a href="//www.facebook.com/events/1526953967598862/"><i class="fa fa-facebook"></i></a></li>
				<li><a href="//twitter.com/njkeyclub"><i class="fa fa-twitter"></i></a></li>
			</ul>
		</li>
	</ul>
</nav>