<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}{% if page.title != site.author %} | {{ site.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="{{ page.title }}{% if page.title != site.author %} | {{ site.name }}{% endif %}">
    <meta property="og:site_name" content="New Jersey District Key Club">
    <meta property="og:url" content="http://njkeyclub.org/">
    <meta property="og:image" content="http://njkeyclub.org/img/global/keyclub_logo.png">

    <link rel="shortcut icon" href="/favicon.ico?v=1" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    {% if page.calendar %}
        <link rel="stylesheet" href="/css/vendor/fullcalendar/fullcalendar.css">
    {% endif %}
    {% if page.slider %}
        <link rel="stylesheet" href="/css/vendor/slick/slick.css">
    {% endif %}
    {% if page.countdown %}
        <link rel="stylesheet" href="/css/vendor/flipclock/flipclock.css">
    {% endif %}
    <link rel="stylesheet" href="/css/vendor/kube/kube.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    
    {% if page.home %}
    <script type="text/javascript" src="/js/instafeed.min.js"></script>
    <script type="text/javascript">
    var tagFeed = new Instafeed({
        get: 'tagged',
        tagName: 'njkeyclub',
        clientId: '15f3abeb57f546a1bed92de2eec1f1f7',
        resolution: 'low_resolution',
        limit: 60,
        sortBy: 'random',
        });
    var dconFeed = new Instafeed({
        get: 'tagged',
        tagName: 'njdcon',
        clientId: '15f3abeb57f546a1bed92de2eec1f1f7',
        resolution: 'low_resolution',
        limit: 60,
        sortBy: 'random',
        });
        // var feeds = [tagFeed, dconFeed];
        dconFeed.run();
    </script>
    {% endif %}
</head>

<body>
