<html>
<head>
	<title>Live | NJ DCON 2016</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="live.css"/>
    <link rel="shortcut icon" href="img/favicon.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
</head>

<body ng-app="app">

	<nav>
	<ul>
		<li class="logo"><img src="/img/logo.png"></li>
		<li class="uppercase expand"><a href="/">DCON 2016</a></li>
		<li><a href="/">home</li>
		<li><a href="/contests">contests</li>
		<li><a href="/registration">registration</li>
		<!--<li><a href="/photos">photos</a></li>-->
		<li><a href="/gear">gear</a></li>
		<li class="live"><a href="/live">live</a></li>
		<li class="social">
			<ul>
				<li><a href="//www.facebook.com/events/1526953967598862/"><i class="fa fa-facebook"></i></a></li>
				<li><a href="//twitter.com/njkeyclub"><i class="fa fa-twitter"></i></a></li>
				<li><a href="//instagram.com/njkeyclub"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</li>
	</ul>
	</nav>

	<header>
	<div class="content">
		<h1 class="uppercase expand page-title">welcome to #njdcon070</h1>
	</div>
	</header>

	<div class="main" ng-controller="MainController">

		<div class="col-md-4" id="stream">
			<h1 class="uppercase expand">livestream</h1>
			<div>
				<iframe width="345" height="193" src="https://www.youtube.com/embed/jBSHhFcRNM4" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="col-md-4" id="feed">
			<h1 class="uppercase expand">#njdcon070</h1>
		</div>

		<div class="col-md-4" id="resources">
			<h1 class="uppercase expand">resources</h1>
			<div class="content">
			<h2><b><a href="http://goo.gl/forms/yneA8dCNfp"><i class="fa fa-link"></i>&nbsp;Workshops Survey</a></b></h2><p>Click the link above to fill out the DCON 2016 Workshops Survey!</p>
			<h2><b>Remind</b></h2><p> To subscribe to Remind updates throughout the weekend, text <b>@njdcon2016</b> to <b>81010</b>!</p>
			</div>
		</div>
		
		
		<div class="col-md-6" id="spirit">
			<h1 class="uppercase expand">spirit stick poll</h1>
			<center><p>Click on a division to vote. You may vote once per page load.<br><i>Poll refreshes every 30 seconds.</i></p></center>
			<div class="results">
				<div ng-repeat="division in poll" onclick="vote(this)" id="poll-{{division.number}}"><b><h3 style="font-size:1.25em;margin:2px">Division {{ division.number }}</h3></b><span style="opacity: 0.75">&nbsp;{{ division.votes }} votes</span></div>
			</div>
		</div>
		
		<div class="col-md-6" id="schedule">
			<h1 class="uppercase expand">schedule</h1>
			<div class="content">
				<h3 class="uppercase expand">friday, april 1st</h3>
				<div class="event" ng-repeat="event in friday">
					<div class="time">{{ event.time}}</div>
					<div class="title">{{ event.title }}</div>
					<div ng-if="event.location.length > 0" class="location">{{ event.location }}</div>
				</div>
				<h3 class="uppercase expand">saturday, april 2nd</h3>
				<div class="event" ng-repeat="event in saturday">
					<div class="time">{{ event.time}}</div>
					<div class="title">{{ event.title }}</div>
					<div ng-if="event.location.length > 0" class="location">{{ event.location }}</div>
				</div>
				<h3 class="uppercase expand">sunday, april 3rd</h3>
				<div class="event" ng-repeat="event in sunday">
					<div class="time">{{ event.time}}</div>
					<div class="title">{{ event.title }}</div>
					<div ng-if="event.location.length > 0" class="location">{{ event.location }}</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modules -->
    <script src="app.js"></script>
    <!-- Controllers-->
    <script src="MainController.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-73111821-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>