body {
	background: white;
}

h1 {
	text-align: center;
}

header {
	height: 300px;
	padding-top: 50px;
	display: flex;
	background: linear-gradient(45deg, rgba(150, 150, 200, 0.3), rgba(0, 100, 230, 0.8)), url('../img/binary.jpg');
}

header .content {
	max-width: 800px;
	margin: auto;
	color: white;
}

header h1 {
	font-weight: bold;
}

.main a {
	color: rgba(0, 80, 200, 0.75);
}

.main a:hover {
	color: rgba(0, 80, 200, 1);
}

.main a, a:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.main > div {
	padding: 20px;
}

.main div h1 {
	font-size: 1.25em;
	padding: 10px;
	font-weight: bold;
}

.main div h2 {
	font-size: 1.25em;
}

.main div h3, .main div p {
	font-size: 1em;
}

#feed .content, #resources .content {
	width: 80%;
	margin: auto;
}

#feed {
	overflow: hidden;
}

#spirit {
	overflow: hidden;
}

#spirit .results {
	overflow: scroll;
	max-width: 80%;
	margin: auto;
	margin-top: 30px;
}

#feed, #stream {
	height: 400px;
}

#spirit .results div {
	width: 200px;
	max-width: 100%;
	background: rgba(5, 30, 150, 0.6);
	margin: 10px;
	padding: 15px;
	color: white;
}

#spirit .results div:hover {
	background: rgba(5, 30, 150, 0.7);
	cursor: pointer;
}

#spirit .results div.voted {
	background: rgba(5, 30, 150, 1);
}

#spirit .results div, #spirit .results div:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#stream div {
	text-align: center;
}

#schedule ul {
	list-style-type: none;
}

#schedule .content {
	max-width: 60%;
	margin: auto;
}

#schedule .event div {
	margin: 0;
	padding: 2px;
}

#schedule .event {
	margin: 10px;
}

#schedule .event .time {
	float: right;
}

#schedule .event .location {
	color: #509ced;
	font-size: 0.8em;
}

#schedule .event.active {
	font-weight: bold;
	font-size: 1.2em;
}

@media screen and (max-width: 900px) {
	#schedule .content, #spirit .results {
		max-width: 100%;
	}
}